body{
    background: #58BAC9;
    box-sizing: border-box;
}

.app {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 600px;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  background: #8DD1D9;
}

/* Current City */
h1 {
    padding-top: 12px;
    font-size: 40px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    text-align: center;
    color: #E2F4F6;
}

/* Date&Time */

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center; 
}

/* Current temperature */

.current-temperature {
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: #4391A3;
    position: relative;
    top: 2px;
    left: 90px;
}

.units {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #4391A3;
    position: relative;
    bottom: 32px
}

#celsius-link, #fahrenheit-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #4391A3;
}

/* Weather Details */

.maxima-minima {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4391A3;
    font-weight: bolder;
    position: relative;
    bottom: 75px;
    left: 180px;
}

.main-icon {
    position: relative;
    left: 80px;
}

.fa-tint {
    font-size: 22px;
    color: #4391A3;
    position: relative;
    top: 130px;
    right: 27px;
    padding-right: 11px;
    padding-bottom: 6px;
}

.fa-sun {
    font-size: 22px;
    color: #4391A3;
    position: relative;
    top: 130px;
    right: 30px;
    padding-right: 6px;
}

#humidity, #sunrise {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4391A3;
    font-weight: bolder; 
    position: relative;
    top: 130px;
    right: 30px;
}

.fa-wind {
    font-size: 22px;
    color: #4391A3;
    position: relative;
    top: 130px;
    padding-right: 6px;
    padding-bottom: 6px;
}

.fa-moon {
    font-size: 22px;
    color: #4391A3;
    position: relative;
    top: 130px;
    right: 20px;
    padding-right: 6px;
}

#sunset {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4391A3;
    font-weight: bolder; 
    position: relative;
    top: 130px;
    right: 20px;
}

#wind-speed {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4391A3;
    font-weight: bolder; 
    position: relative;
    top: 130px;
}

/*Current Location*/

button {
    display: block;
    font-size: 12px;
    font-family: "lato";
    font-weight: bolder;
    color:  #4391A3;
    margin: 12px auto 20px 6px;
    padding: 8px 12px;
    background: #8DD1D9;
    border: 2px solid #4391A3;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Search City */

.fa-map-marker-alt{
    color: #4391A3;
    position: relative;
    left: 105px;
    top: 75px;
}

.form-control-underlined {
    text-align: center;
    border-width: 0;
    border-radius: 0;
    padding-left: 0;
    background: none;
    border-bottom: 1px solid #E2F4F6;
    margin-top: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    box-shadow: none;
    background: none;
    border-bottom: 1px solid #4391A3;
}

.codedBy {
    text-align: center;
    font-family: "lato";
    margin-top: 12px;
}